In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [16]:
import numpy as np
import pandas as pd
import datetime as dt

from datetime import timedelta
from dateutil.relativedelta import relativedelta
from dateutil.parser import parse

# Reflect Tables into SQLAlchemy ORM

In [3]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [4]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///hawaii.sqlite")

In [5]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine,reflect = True)

In [6]:
# View all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [7]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [8]:
# Create our session (link) from Python to the DB
session = Session(engine)

# Exploratory Precipitation Analysis

In [9]:
# Find the most recent date in the data set.
recent_date = session.query(Measurement).order_by(Measurement.date.desc()).first()
print(f"The most recent date in the data set is: {recent_date.date}")

The most recent date in the data set is: 2017-08-23

In [28]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 
# Starting from the most recent data point in the database. 
most_recent_date = parse(recent_date.date)
# Calculate the date one year from the last date in data set.
start_date = most_recent_date  + relativedelta(months=-12) - timedelta(days=1)

# Perform a query to retrieve the data and precipitation scores
query_result = session.query(Measurement.date,Measurement.prcp).\
                filter(Measurement.date.between(start_date,most_recent_date)).all()
#print(query_result)

# Save the query results as a Pandas DataFrame and set the index to the date column
df = pd.DataFrame(query_result, columns=['date', 'prcp'])
df.set_index('date', inplace=True, )
#df.head(10)

# Sort the dataframe by date
df = df.sort_values(["date"])
sorted_df = df.reset_index(drop = False)
sorted_df = sorted_df.dropna(how='any')
sorted_df
# Use Pandas Plotting with Matplotlib to plot the data

            date  prcp
0     2016-08-23  0.00
2     2016-08-23  1.79
3     2016-08-23  0.05
4     2016-08-23  0.15
5     2016-08-23  0.70
...          ...   ...
2225  2017-08-22  0.00
2226  2017-08-23  0.00
2227  2017-08-23  0.00
2228  2017-08-23  0.08
2229  2017-08-23  0.45

[2021 rows x 2 columns]

In [ ]:
fig, ax = plt.subplots(figsize=(6,2))
ax.bar_plot = sorted_df.plot(kind='bar',title="Precipitation data",label = 'precipitation')

plt.xlabel("Date")
plt.ylabel("Inches")
plt.ylim(0,7)
plt.setp( ax.xaxis.get_majorticklabels(), rotation=45 )

plt.tight_layout()
plt.show()

In [18]:
# Use Pandas to calcualte the summary statistics for the precipitation data
sorted_df.describe()

              prcp
count  2021.000000
mean      0.177279
std       0.461190
min       0.000000
25%       0.000000
50%       0.020000
75%       0.130000
max       6.700000

# Exploratory Station Analysis

In [ ]:
# Design a query to calculate the total number stations in the dataset

In [ ]:
# Design a query to find the most active stations (i.e. what stations have the most rows?)
# List the stations and the counts in descending order.

In [ ]:
# Using the most active station id from the previous query, calculate the lowest, highest, and average temperature.

In [ ]:
# Using the most active station id
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

# Close session

In [ ]:
# Close Session
session.close()